body {

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    background: #f4f4f4;

    text-align: center;

}

header {

    padding: 50px;

    background: white;

}

.profile-picture {

    width: 180px;

    border-radius: 50%;

}

h1 {

    margin-top: 20px;

    color: #1f4e79;

}